/.venv
/10009-C-00-01 [0] COVER SHEET, LOCALITY PLAN AND DRAWING INDEX.pdf
/10009-C-00-02 [F] GENERAL NOTES AND LEGEND.pdf
/10009-C-05-40 [E] STORMWATER CATCHMENT PLAN.pdf
/10009-C-07-40 [3] DRIVEWAY SETOUT PLANS.pdf
/10009-C-10-03 [I] WATER PLAN SHEET 2.pdf
/Dummy Folder
/NOTTransmittal.xlsx